<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flask</title>
    <link rel="stylesheet" href="/static/libs/reset.css">
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div id="app">
        <h1>{{message}}</h1>
    </div>
    <script type="text/javascript" src="/static/libs/echarts.js"></script>
    <script type="text/javascript" src="/static/libs/lodash.js"></script>
    <script type="text/javascript" src="/static/libs/socket.io.js"></script>
    <script type="text/javascript" src="/static/libs/jquery.js"></script>
    <script type="text/javascript" src="/static/libs/vue.js"></script>
    <script type="text/javascript">
    window.onload = function() {
        const app = new Vue({
            el: '#app',
            data: {
                message: 'Hello World'
            },

            created() {
                console.log('created');
                setTimeout(() => {
                    this.message = 'Hello Vue'
                }, 5000)
            },

            mounted() {
                console.log('mounted')
            },
            watch: {
                message: function (val) {
                    console.log(val)
                }
            },

            computed: {

            },

        })
    }
    </script>
</body>

</html>